body {
  margin: 0;
  padding: 0;
  background-image: url("ph.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header img{
    width: 100%;
    height:auto;
}
.lijevo{
  float: left;
  width: 10%;
  height: 500px;
  background:#eeaa5d ;
  margin-top: 1%;
}
.sredina{
  float: left;
  width: 80%;
  height: 500px;
  background-color: grey;
  margin-top: 1%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 10px ;
}
.jedan{
  float: left;
  margin: 18px;
  width: 30%;
  height: 90%;
  background-color: hotpink;
  

}
.jedan:hover{
  border: 0.2px solid;
  padding: 5px;
  box-shadow: 5px 5px 5px 5px;
  transform: rotateY(180deg);
}

.desno{
  float: left;
  width: 10%;
  height: 500px;
  background:#eeaa5d ;
  margin-top: 1%;
}

.nav ul {
  list-style: none;
  background-color: #d62a2a85;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.24);
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .2s background-color;
}
 
.nav a:hover {
  background-color: #ff9737bd;
}
.Bill{
    margin-left: 50px;
}
.nav a.active {
  background-color: rgba(255, 255, 255, 0.924);
  color: #eeaa5d;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
