@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: rgba(236, 236, 236, 0.842);
}
.header{
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header img{
    height: 300px;
}
.nav ul {
  list-style: none;
  background-color: #d3d3d385;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: 0px 6px 7px -3px rgba(0,0,0,0.24);
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .2s background-color;
}
 
.nav a:hover {
  background-color: #be2828bd;
}
.Bill{
    margin-left: 50px;
    border-left: rgba(170, 170, 170, 0.575) 1px solid;
}
.Bill a{
  width:130px;
}
.nav a.active {
  background-color: rgba(255, 255, 255, 0.924);
  color: #be2828bd;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.lijevo{
  float: left;
  width: 10%;
  height: 10px;
  
}
.sredina{
  float: left;
  width: 80%;
  height: auto;
  background-color: rgb(73, 67, 67);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 10px ;
}
.desno{
  float: left;
  width: 10%;
  height: 10px;
}
.kartica{
  float: left;
  margin: 18px;
  width: 30%;
  height: 600px;
  background-color: hotpink;
  -webkit-transition: transform 0.5s;
  transform-style: preserve-3d;

}
.prednji,
.straznji {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.prednji {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}

.straznji {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
  color: #20263f;
}
.kartica.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

